.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-form {
    background-color: white;
    align-items: center;
    padding: 25px;
    border-radius: 20px;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    max-width: auto;

    border: 1.2px solid black;
}

.form-entry {
    display: flex;
    flex-direction: column;
    font-size: 20px;
     

    select,input {
        font-size: 20px;
        background-color: $gris;
    }
    select {
        width: 185px;
        border: none;
        border-radius: 8px;
    }

    input {
        width: 180px;
        border: none;
        border-radius: 8px;
    }

    label {
        text-align: left;   
        font-weight: bold;
    }
}

.type-textarea {
    textarea {
        height: 120px;
        width: 380px;
        resize: none;
        background-color: $gris;
        border: none;
        border-radius: 8px;
    }
}

.update-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    padding: 2px 12px;

    &:hover{
    border: 2px solid black;
    color: $blanco;
    background-color: $colorPrincipal;
    }
}

#caracteristicas, #puerto {
    grid-column: span 2;

    input{
        width: 380px;
    }
}


