  /* Header */
  .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color: $colorPrincipal;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 0 0.26px;

    }
    
    .header svg{
      margin-right: 400px;
      transform: scale(0.85);
      color: $blanco;
    }
    
    .navbar{
      margin-right: 40px;
    }
    
    .navbar ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 60px;
      margin-top: 20px;
      
    }
    
    .navbar a{
      text-decoration: none;
      font-size: 18px;
      color: $blanco;
      padding: 8px 12px;

      &:hover{
        color:$colorPrincipal;
        background-color: $blanco;
        border-radius: 20px;
      }
    }
    