  /* Header */
  .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    
    .header h1{
      margin-left: 560px;
    }
    
    .navbar{
      margin-left: 100px;
    }
    
    .navbar ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin-top: 20px;
      
    }
    
    .navbar a{
      text-decoration: none;
      color: black;
    }
    